# StellChat Mobile App Environment Configuration Example

# API Endpoints
STELLCHAT_BACKEND_URL=http://localhost:3000
STELLCHAT_PROVER_URL=http://localhost:5001

# Stellar network configurations
STELLAR_HORIZON_URL=http://localhost:8000
STELLAR_NETWORK_PASSPHRASE=Standalone Network ; Sep 2015


